<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ayp.aug.testbroadthree">

    <permission android:name="ayp.aug.testbroadthree.RECEIVER_SHOW_NOTIFICATION"
        android:protectionLevel="signature"/>

    <uses-permission android:name="ayp.aug.testbroadthree.RECEIVER_SHOW_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Modern.GTActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.GTService"/>
        
        <receiver android:name=".Broadcast.GTStartBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".Broadcast.GTBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ayp.aug.testbroadthree.ACTION_SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>